.local-posts__form {
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0 15px 0 0;
    position: relative;

}

.local-posts__form-heading {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 700;
}

.local-posts__list-heading:nth-child(2)::after {
    content: ' ₽';
}

.local-posts__form-input {
    background-color: var(--col-clear);
    border: none;
    width: 100%;
}

.local-posts__form-input:focus {
    outline: none;
}

.local-posts__from-btn-wrapper {
    display: flex;
    justify-content: space-around;
}

.local-posts__from-btn-sbmt {
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--col-clear);
    border: none;

}

.local-posts__from-btn-sbmt:disabled {
    opacity: 0.5;
}

.local-posts__from-btn-reset {
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--col-clear);
    border: none;
}

.local-posts__from-btn-reset:disabled {
    opacity: 0.5;
}

.lp__form-type-btn {
    cursor: pointer;
    position: relative;
    padding: 0;
    margin: 9px 0 0;
    width: 100%;
    text-align: left;
    background-color: var(--col-clear);
    border: none;
    border-bottom: 3px solid var(--col-main-dark);
    
}


.lp__form-heading-type {
    font-weight: 400;
    margin: 0;
}

.lp-form-type-container {
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    z-index: 5;
    width: calc(100% - 15px);
    background-color: var(--col-white);
    box-shadow: 0 -2px 1px 2px var(--col-main-dark) inset;
    border-radius: 0 0 10px 10px;
    
}

.lp-form-type-container_active {
    max-height: 500px;
    padding-bottom: 10px;


}

.lp__form-type-label {
    display: flex;
    position: relative;
    text-align: center;
    font-weight: 500;
    margin-top: 8px;
    flex-direction: row;
    max-height: 50px;
    height: 5vw;
    min-height: 20px;
    width: 100%;
    padding-top: 1.2vw;
    box-sizing: border-box;
}

.lp__form-type-input {
    opacity: 0;
    height: 100%;
    max-width: 60px;
    width: 8vw;
    min-width: 20px;

}

.lp__form-type-input-btn {
   
    position: absolute;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(1);
    transition: all .2s;
    left: 0;
    bottom: 0;
    height: 100%;
    max-width: 60px;
    width: 8vw;
    min-width: 20px;

}
.lp__form-type-input:checked+.lp__form-type-input-btn {
    filter: grayscale(0);
}



@media screen and (max-width: 600px) {
  
    /*  .lp__form-heading-type {
        font-size: 13px;
    }


    .lp__form-type-label {
        margin-top: 8px;
        padding-top: 0;
        flex-direction: row;
        font-size: 13px;
        height: 8vw;
        padding-top: 3vw;
    }

    .lp__form-type-input-btn {
        left: 0;
        max-height: 100%;
        bottom: 0;
        max-width: 20%;
    }

    .lp__form-type-input {
        position: absolute;
    } */

}