.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    position: relative;
    transition: all .5s;
   
}
.stats::after{
    content: '';
    height: 90%;
    width: 2px;
    background-color: var(--col-sec);
    position: absolute;
    top: -15px;
    left: calc(50% - 2px);
}

.stats__wrapper {
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;

   
}

.stats__wrapper_opened {
    max-height: 450px;
}

.stats__show-stats-btn {
    grid-column: 1 / span 2;
    text-align: left;
    border: none;
    background-color: var(--col-sec);
    font-weight: 700;
    border-bottom: 3px solid var(--col-main-dark);
    position: relative;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 2;


}


.stats__show-stats-btn__open::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: -10px;
    clip-path: polygon(100% 50%, 50% 0, 0% 50%);
    background-color: var(--col-white);
    z-index: 1;

}

.stats__heading {
    margin: 0 0 10px;
    text-align: center;
    font-weight: 700;
}



.stats__main {
    padding: 15px;
}

.stats__heading-btn-block {
    margin: 10px 0 0;
    padding-bottom: 5px;
    display: flex;


}

.stats__heading-btn {
    width: 50%;
    background-color: var(--col-clear);
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    z-index: 1;
    padding: 0 10px;

}

.stats__main-nav {
    list-style: none;
    padding: 0 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: relative;
}



.stats__main-nav-el {

    margin: 0;
    z-index: 2;
    text-align: center;
}

.stats__main-nav-el-btn {
    margin: 0;
    font-size: 15px;
    background-color: var(--col-clear);
    border: none;


}

.stats__main-nav-border {
    position: absolute;
    bottom: 0;
    background-color: var(--col-sec);
    height: 100%;
    transition: all .3s;
    grid-column: 1/span 2;
    width: 50%;
    border-bottom: 5px solid var(--col-main);
    z-index: 1;
    border-radius: 10px 10px 0 0;
}

.stats__main-nav-border_category {
    transform: translateX(100%);
}

.stats__category-line {
    overflow: hidden;
    display: flex;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 99%;
    margin: 5px 0;
}

.stats__category-values-heading {
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.stats__category-line-el {
    height: 100%;
}



.stats__category-values {
    list-style: none;
    padding: 0;
}

.stats__category-values-el {
    display: flex;
    gap: 5px;
}

.stats__category-values-text {
    margin: 0;
}

.stats__category-values-img {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.stats__chart {
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}


.stats__chart-el {
    display: flex;
    justify-content: center;
    height: 250px;
}


.stats__predict-heding {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.stats__predict-value {
    font-size: 14px;
    margin: 2px 0;
}

.stats__predict-value_ok {
    border-bottom: 2px solid var(--col-main);
}

.stats__predict-value_fault {
    border-bottom: 2px solid var(--col-red);
}



.stats__fact-heading {
    font-weight: 500;
    margin: 2px 0;
    font-size: 15px;
}

.stats__fact-value {
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
}


.stats__month-text {
    margin: 0;
    font-size: 14px;
}

.stats__month-text span {
    font-weight: 700;
}

.stats__month {
    list-style: none;
    padding: 0;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stats__month-cap {
    font-size: 25px;
    color: var(--col-main);
    opacity: 0.7;
    margin: auto;
    text-align: center;
}
.stats__el{
    padding-bottom: 0;
}
.stats__month-el {
    display: flex;
    gap: 10px;
}
.stats__month-img{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
    .stats::after{
            display: none;
    }

    .stats__heading-btn-block {
        width: 100%;
        position: relative;
        justify-content: space-around;
        padding: 0 10px;
        box-sizing: border-box;
        gap: 20px;
    }

    .stats__heading-btn-block::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        background-color: var(--col-sec);
        height: 2px;
        bottom: -2px;
        z-index: 1;
    }

    .stats__heading-btn {
        width: auto;
        max-width: 86px;
        height: 36px;
        font-size: 12px;
        padding: 0;
        z-index: 3;

    }

    .stats__heading-btn-line {
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: calc(50% - 45px);
        background-color: var(--col-sec);
        border-bottom: 3px solid var(--col-main);
        position: absolute;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: all .5s;
        margin: 0 30px;
        box-sizing: content-box;



    }

    .stats__el {
        margin-right: 15px;
        width: calc(100vw - 75px);
    }

    .stats__chart {
        width: calc(100vw - 45px);
        border: none;
    }

    .stats__main-nav-el-btn {
        font-size: 12px;
    }

    .stats__main-nav::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--col-sec);
        height: 2px;
        bottom: -2px;
        z-index: 1;
    }
}