.footer {
    margin-top: auto;
    background-color: var(--col-sec);
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
 gap: 10px;
}

.footer__text {
    color: var(--text-col);
    font-size: 15px;
    opacity: 0.7;
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: var(--text-col);
    position: relative;
    margin-left: 5px;
    font-size: 15px;
    transition: all 0.2s;

}

.footer__link:hover {
    opacity: 0.7;
}


.footer__link_gh::after {
    position: absolute;
    top: 0px;
    right: -20px;
    content: '';
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/github.svg);

}