.profile {
    margin: 0 auto 0;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--col-sec);
    border-radius: 20px 20px 0 0;
    gap: 0 10px;

}

.profile__avatar {
    grid-row: 1/ span 2;
    width: 100px;
}

.profile__data-block {

    overflow: hidden;
}

.profile__data {
    margin: 0;
    opacity: 0.7;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__error {
    color: var(--col-red);
    font-size: 10px;
    margin: 0;
}


.profile__input {
    background-color: transparent;
    border: none;
    width: 100%;

}


.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover, 
.profile__input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0px 1000px var(--col-sec) inset;
    border: none;
}


.profile__input:focus {
    outline: none;
}

.profile__edit {
    padding: 0;
    border: none;
    background-color: var(--col-clear);
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    background-image: url(../../../images/edit.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.7;
}

.profile__edit_active {
    background-image: url(../../../images/x.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.profile__edit-submit-btn {
    border: none;
    background-color: var(--col-clear);
    color: var(--col-main);
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile__edit-submit-btn:hover {
    opacity: 0.7;
}

.profile__edit-submit-btn:disabled {
    opacity: 0.5;
}

.profile__edit:disabled {
    opacity: 0.5;
}