.posted-el {
    display: grid;
    grid-template-columns: auto min-content;
    margin: 15px 0 5px;
}

.posted-el-value {
    margin: 0;
}

.posted-el-value_heading::after {
    font-weight: 700;
    content: ':';
}

.posted-el-value_value::after {
    content: ' ₽';
}

.posted-el__del-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    grid-row: 1 / span 2;
    grid-column: 2;
    padding: 0;
    background-color: var(--col-clear);
    border: none;
}

.posted-el__del-btn:disabled {
    opacity: 0.5;
}