.posted-el {
    display: grid;
    grid-template-columns: auto min-content;
    margin: 15px 0 5px;
    border-bottom: 2px solid var(--col-main);
}

.posted-el-value {
    margin: 0;
}

.posted-el-value_heading::after {
    font-weight: 700;
    content: ':';
}

.posted-el-value_value::after {
    content: ' ₽';
}

.posted-el__del-btn {
    justify-self: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    grid-column: 2;
    padding: 0;
    background-color: var(--col-clear);
    border: none;
}

.posted-el__del-btn:disabled {
    opacity: 0.5;
}

.posted-el-email-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    grid-column: 2;
    grid-row: 2;
    background-image: url(../../../images/send-mail.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: var(--col-clear);
    padding: 0;
}

.posted-el-email-btn_added {
    position: relative;
}

.posted-el-email-btn_added::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    left: 0px;
    top: 10px;
    background-color: var(--col-white);
    background-image: url(../../../images/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.posted-el-email-btn_sended {
    position: relative;
}

.posted-el-email-btn_sended::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    left: 0px;
    top: 10px;
    background-color: var(--col-white);
    background-image: url(../../../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}