.sorting {

    width: 100%;
    border-bottom: 2px solid var(--col-main);
    padding: 10px 0 10px;
    position: relative;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

.sorting__el-text {
    margin: 0;
    font-weight: 300;
    text-align: right;

}

.sorting__el:last-of-type {
    align-items: end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 200px;

}