.local-posts {
    margin: auto;
    max-width: var(--width-max);
    min-height: calc(100vh - 120px);
    padding-top: 100px;
    box-sizing: border-box;



}

.local-posts__wrapper {
    box-sizing: border-box;
    display: flex;
    margin: 15px 15px 100px;
    background-color: var(--col-sec);
    border-radius: 0 0 20px 20px;
    overflow: hidden;

}

.local-posts__container {
    margin: 15px 15px 15px;
    width: 100%;
    min-height: 350px;
    background-color: var(--col-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;

}

.local-posts__list {
    list-style: none;
    padding: 5px;
    margin: 0;
    height: 100%;
    border-right: 2px solid var(--col-sec);
}



.local-posts__list-heading {
    margin: 0;
    font-weight: 700;
    text-align: center;
}


.local-post__empty-el {
    grid-column: 1 /span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    transition: all .5s;
    border-bottom: 15px solid var(--col-sec);
}

.local-post__empty-el-text {
    margin-top: 70px;
    font-size: 30px;
    color: var(--col-main);


}

.local-post__empty-el-add-btn {
    transition: all .5s;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--col-clear);
    border: 4px dashed var(--col-main);
    font-size: 70px;
    color: var(--col-main);
    cursor: pointer;

}

.local-post__empty-el:hover {
    opacity: 1;

}

.local-posts__public-btn-container {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--col-sec);
    padding: 10px 0 10px;

}


.local-posts__public-btn {
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color: var(--col-main);
    width: 250px;
    transition: all .2s;
}

.local-posts__public-btn_active {
    opacity: 0.5;
}

.local-posts__public-btn:hover {
    background-color: var(--col-main-dark);
    color: var(--col-white);
}

.local-posts__public-btn:active {
    background-color: var(--col-main-dark);
    color: var(--col-white);
}

.local-posts__public-btn_posted {
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color: var(--col-main-dark);
    color: var(--col-white);
    margin: 0;
    opacity: 0.7;
}

.local-posts__public-add-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.local-posts__public-add-description-value {
    width: 100%;
    grid-column: 1 / span 2;
    resize: none;
    height: 90px;
    background-color: var(--col-sec);
    border: 2px dashed var(--col-main);
}

.local-posts__public-add-description-btn {
    margin: 5px 0;
    padding: 5px 0;
    background-color: var(--col-clear);
    border: none;
}

.local-posts__public-add-description-btn:first-of-type {
    background-color: var(--col-main);
    border-radius: 20px;

}

.local-posts__public-add-description-btn:last-of-type {
    color: var(--col-red);
}