.showMoreBtn {
    position: absolute;
    background-color: var(--col-white);
    height: 3px;
    width: 20px;
    right: 10px;
    bottom: -3px;
    transition: all 0.5s;
    z-index: 2;
   
}

.showMoreBtn__left {
    height: 100%;
    width: 3px;
    left: -2px;
    transform: rotate(42deg);
    transition: all .5s;
    position: absolute;
}

.showMoreBtn__left_active {
    transform: rotate(-43deg);
}

.showMoreBtn__left::after {
    content: '';
    display: block;
    width: 17px;
    height: 3px;
    background-color: var(--col-main-dark);
    border-radius: 2px 0 0 2px;
}

.showMoreBtn__right {
    content: '';
    position: absolute;
    right: -2px;
    height: 100%;
    width: 3px;
    transform: rotate(135deg);
    transition: all .5s;
}

.showMoreBtn__right_active {
    transform: rotate(224deg);
}

.showMoreBtn__right::after {
    border-radius: 2px 0 0 2px;
    content: '';
    display: block;
    width: 17px;
    height: 3px;
    background-color: var(--col-main-dark);
}