.showMoreBtn {
    position: absolute;
    background-color: var(--col-white);
    height: 3px;
    width: 20px;
    right: 10px;
    bottom: -3px;
    transition: all 0.2s;
    /*   display: flex;
    justify-content: space-between; */
}

.showMoreBtn__left {
    height: 100%;
    width: 3px;
    left: -2px;
    transform: rotate(40deg);
    transition: all .2s;
    position: absolute;
}

.showMoreBtn__left_active {
    transform: rotate(-45deg);
}

.showMoreBtn__left::after {
    content: '';
    display: block;
    width: 17px;
    height: 3px;
    background-color: var(--col-main-dark);
    border-radius: 2px 0 0 2px;
}

.showMoreBtn__right {
    content: '';
    position: absolute;
    right: -2px;
    height: 100%;
    width: 3px;
    transform: rotate(135deg);
    transition: all .2s;
}

.showMoreBtn__right_active {
    transform: rotate(220deg);
}

.showMoreBtn__right::after {
    border-radius: 2px 0 0 2px;
    content: '';
    display: block;
    width: 17px;
    height: 3px;
    background-color: var(--col-main-dark);
}