@import 'normalize.css/normalize.css';
@import url(./components/header/header.css);
@import url(./components/footer/footer.css);
@import url(./components/sign/signform/sign-form.css);
@import url(./components/border/border.css);
@import url(./components/localPosts/local-posts.css);
@import url(./components/profile/profile.css);
@import url(./components/localPosts/mounthSlider/mounth-slider.css);
@import url(./components/localPosts/PostedEl/PostedEl.css);
@import url(./components/Chart/chart.css);
@import url(./components/publicPosts/publicPosts.css);
@import url(./components/publicPosts/PublicEl/public-el.css);
@import url(./components/localPosts/form/local-posts-form.css);
@import url(./components/notice/notice.css);
@import url(./components/visualbtn/visual-btn.css);
@import url(./components/EmailModal/email-modal.css);

/* шрифты не подключены */
body {
    --col-main: #7DCE70;
    --col-main-dark: rgb(74, 141, 64);
    --col-sec: #CFF1C9;
    --col-clear: rgba(0, 0, 0, 0);
    --col-red: rgb(241, 38, 82);
    --col-white: #f3fae9;
    --text-col: #000000;
    --width-max: 770px;
    background-color: var(--col-white);
    font-family: Arial, Helvetica, sans-serif;
}
