@import 'normalize.css/normalize.css';
@import url(./vendor/fonts/fonts.css);
@import url(./components/header/header.css);
@import url(./components/footer/footer.css);
@import url(./components/sign/signform/sign-form.css);
@import url(./components/ui/border/border.css);
@import url(./components/localPosts/local-posts.css);
@import url(./components/localPosts/profile/profile.css);
@import url(./components/localPosts/mounthSlider/mounth-slider.css);
@import url(./components/localPosts/PostedEl/PostedEl.css);
@import url(./components/publicPosts/publicPosts.css);
@import url(./components/publicPosts/PublicEl/public-el.css);
@import url(./components/localPosts/form/local-posts-form.css);
@import url(./components/notice/notice.css);
@import url(./components/ui/visualbtn/visual-btn.css);
@import url(./components/localPosts/EmailModal/email-modal.css);
@import url(./components/localPosts/Sorting/sorting.css);
@import url(./components/localPosts/Statistics/statistics.css);
@import url(./components/Present/present.css);
@import url(./components/ui/showMoreBtn/show-more-btn.css);
@import url(./components/ui/activeBtnSlider/activeBtnSlider.css);
@import url(./components/NotFoundPage/notFoundPage.css);

body {
    --col-main: #7DCE70;
    --col-main-dark: #4a8d40;
    --col-sec: #CFF1C9;

    --col-gold: #f1eb8c;
    --col-gold-dark: rgb(218, 207, 53);

    --col-orange: #f1c98c;
    --col-orange-dark: #e99c5e;

    --col-red: #f12652;
    --col-red-dark: #a0334a;

    --col-clear: #00000000;

    --col-white: #f3fae9;
    --text-col: #000000;
    --width-max: 770px;
    background-color: var(--col-white);
    font-family: 'Roboto', sans-serif;
}

.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button {
    color: black;
}

.back-img_transport {
    background-image: url(./images/transport.svg);
}

.back-img_jkh {
    background-image: url(./images/jkh.svg);
}

.back-img_zp {
    background-image: url(./images/zp.svg);
}

.back-img_food {
    background-image: url(./images/food.svg);
}

.back-img_fun {
    background-image: url(./images/fun.svg);
}

.back-img_another {
    background-image: url(./images/another.svg);
}

.back-img_mining {
    background-image: url(./images/mining.svg);
}

.back-img_vzyatka {
    background-image: url(./images/vzyatka.svg);
}

.back-col_transport {
    background-color: rgb(250, 206, 8);
}

.back-col_jkh {
    background-color: rgb(87, 196, 247);
}

.back-col_zp {
    background-color: rgb(188, 97, 21);
}

.back-col_food {
    background-color: #82d465;
}

.back-col_fun {
    background-color: rgb(0, 17, 178);
}

.back-col_another {
    background-color: rgb(192, 58, 43);
}

.back-col_mining {
    background-color: black;
}

.back-col_vzyatka {
    background-color: pink;
}