@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


.visualBtn-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transform: rotate(45deg);
    transition: all .5s;


}

.visualBtn-wrapper_loading {
    animation: rotate 1s linear infinite;
}

.visualBtn__span {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s;
}

.visualBtn__span_left-confirm {
    width: 80%;
    height: 80%;
    padding-bottom: 5px;
    box-shadow: -7px -5px 0 0 var(--col-main) inset;
}

.visualBtn__span_left-loading {
    border: 4px solid var(--col-sec);
    border-radius: 50%;
    position: relative;
    width: 70%;
    height: 70%;

}

.visualBtn__span_right-loading {
    z-index: 3;
    background-color: var(--col-main);
    width: 5px;
    height: 5px;
    left: 0;
    position: absolute;
    bottom: 50%;
}

.visualBtn__span_right-cancel {
    background-color: var(--col-red);
    top: 40%;
    left: 0;
    height: 5px;
    width: 100%;
    transform: rotate(0deg);
}

.visualBtn__span_left-cancel {
    background-color: var(--col-red);
    top: 40%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: rotate(-270deg);
}